<!DOCTYPE html>
<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class="card mx-auto mt-5 w-25">
        <h4 class="card-header">Creat Account</h4>
        <div class="card-body">
            <%= form_for @user do |f| %>
                <%= f.label :username %>
                <%= f.text_field :username %><br>
                <%= f.label :email%>
                <%= f.text_field :email %><br>
                <%= f.label :password %>
                <%= f.password_field :password %><br>
                <%= f.submit "Create Accout", class: 'mt-2'%>
            <% end %>
        </div>
    </div>
</body>
</html>