<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class = "item">
        <div class ="container-block">
            <h1>Departments <span id='date'></span></h1>
            <div class="main">
                <% @departments.each_with_index do |department, index| %>
                    <div class = "department">
                        <a><%= department.title %></a>
                        <p>Manager: <%= department.manager.name %><br>
                        Employee Amount: <%= department.employees.size %><br>
                        Shift Amount: <%= department.shifts.size %></p>
                        <%= link_to '<button>details</button>'.html_safe,  department_path(department.id)%>
                    </div>
                    <% if index.even? %>
                        <div class="space"></div>
                    <% end %>
                <% end %>                                
            </div>
        <div>
    </div>
</body>
</html>