<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="show">
        <div class="top">
            <a id="date"></a>
            <button class="remove-shift">Remove Shift</button>
            <button class="add-shift">Add Shift</button>
        </div>
            <table>
                <thead>
                    <tr>
                        <th><input type="checkbox" id="select-all">Select All</th>
                        <th>Entry Time</th>
                        <th>Exit Time</th>
                        <th>Shift hours</th>
                        <th>Number of Employees</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>
                    <% @department.shifts.each do |shift| %>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td><%= shift.check_in.strftime('%d-%_m-%Y%t%H:%M') %></td>
                            <td><%= shift.check_out.strftime('%d-%_m-%Y%t%H:%M') %></td>
                            <td><%= (shift.check_out - shift.check_in)/3600 %></td>
                            <td><%= shift.employees.size %></td>
                            <td><%= link_to 'More info', department_shift_path(@department.id, shift.id) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
</body>
</html>