<!DOCTYPE html>
<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    <div class="container w-auto">
        <h3 class="my-4"><%= @department.title %> <span id='date'></span></h3>
        <div class="row">
            <table class="table table-striped table-bordered text-center">
                <thead>
                    <tr>
                        <th>Entry Time</th>
                        <th>Exit Time</th>
                        <th>Shift hours</th>
                        <th>Number of Employees</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>
                    <% @department.shifts.each do |shift| %>
                        <tr>
                            <td><%= shift.check_in.strftime('%t%H:%M') %></td>
                            <td><%= shift.check_out.strftime('%t%H:%M') %></td>
                            <td><%= (shift.check_out - shift.check_in)/3600 %></td>
                            <td><%= shift.workplans.size %></td>
                            <td><%= link_to 'More info', department_shift_path(@department.id, shift.id) %></td>
                        </tr>
                    <% end %>
                </tbody>
                </table>
        </div>
    </div>
</body>
</html>