<!DOCTYPE html>
<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
    <div class="container w-auto">
        <div class="d-flex">
            <h3 class="my-4"><%= @department.title %> <span id='date'></span></h3>
            <div class="btn-group align-self-center ml-2">
                <button class="btn btn-sm btn-secondary" type="button">Date</button>
                <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <ul class="dropdown-menu" id='date-select'></ul>
                <div id="result"></div>
            </div>
        </div>
        <div class="row">
            <table class="table table-responsive-sm table-striped table-bordered text-center">
                <thead>
                    <tr>
                        <th>Entry Time</th>
                        <th>Exit Time</th>
                        <th>Shift hours</th>
                        <th>Number of Employees</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>
                    <% @department.shifts.day_filter(Date.parse("24-11-2021")).each do |shift| %>
                        <tr>
                            <td><%= shift.check_in.localtime.strftime('%t%H:%M') %></td>
                            <td><%= shift.check_out.localtime.strftime('%t%H:%M') %></td>
                            <td><%= "%.2f" % [(shift.check_out - shift.check_in)/3600.0] %></td>
                            <td><%= shift.workplans.size %></td>
                            <td><%= link_to 'More info', department_shift_path(@department.id, shift.id) %></td>
                        </tr>
                    <% end %>
                </tbody>
                </table>
        </div>
    </div>
</body>
</html>