<!DOCTYPE html>
<html>
<head>
    <script src="../../javascript/packs/select.js"></script>
</head>
<body>
    <div class="top">
        <a id="date"></a>
        <button class="actual">Actual</button>
        <button class="plan">Plan</button>
    </div>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox" id="select-all">Select All</th>
                    <th>Name</th>
                    <th>Entry Time</th>
                    <th>Exit Time</th>
                    <th>OT</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <% @shift.employees.each do |employee|%>
                    <tr>
                        <td><input type="checkbox"></td>
                        <td><%= employee.name%></td>
                        <td><%= @shift.check_in.strftime('%d-%_m-%Y%t%H:%M')%></td>
                        <td><%= @shift.check_out.strftime('%d-%_m-%Y%t%H:%M')%></td>
                        <td><%= @shift.overtime %></td>
                        <td>More info</td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <div class="content-right">
            <div class="add-worker">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Work Time</th>
                            <th>Add</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @employee_info.each do |employee| %>
                            <tr>
                                <td><%= employee[:name] %></td>
                                <td><%= employee[:status] %></td>
                                <td><%= employee[:worktime] %></td>
                                <td><button>Assign</button></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div class="OT">
                <a>OT</a>
                <div class="manageOT">
                    <input type="text" placeholder="Hour" value="">
                    <br>
                    <button>Increase</button>
                    <button>Decrease</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>