<!DOCTYPE html>
<html>
  <head>
    <title>CpfProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <nav class="navbar navbar-light bg-light">
      <div class="navbar-brand">
        <%= image_tag "pog.png", height: 50 %>
        <% if is_manager?%>
          <%= link_to "Home", departments_path, class: "navbar-brand" %>
        <% else %>
          My Shift
        <% end %>
      </div>
      <% if logged_in? %>
        <div class="d-flex">
          <a class="align-self-center mr-2"><%= current_user.username %></a>
          <%= link_to '<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>'.html_safe, '/logout', method: :delete %>
        </div>
      <% end %>
  </nav>
  <body>
    <%= yield %>
    <%= javascript_pack_tag 'date' %>
    <%= javascript_pack_tag 'select' %>
  </body>
</html>
