<!DOCTYPE html>
<html>
  <head>
    <title>CpfProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <%= image_tag "pog.png", height: 50 %>
        Shifts-manager
      </a>
      <% if logged_in? %>
        <%= link_to '<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>'.html_safe, '/logout', method: :delete %>
      <% end %>
  </nav>
  <body>
    <%= yield %>
    <%= javascript_pack_tag 'date' %>
    <%= javascript_pack_tag 'select' %>
  </body>
</html>
